@model ColegioColombia.Mvc.Models.Profesor

@{
    ViewBag.Title = "IndexAlterno";
}

<h2>Hola @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</h2>

<h4>Su cedula es: @Html.DisplayFor(model => model.Cedula)</h4>

