@{
    ViewBag.Title = "Contactenos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sede Medellin<br />
    Calle 12sur # 43 - 11<br />
    <abbr title="Phone">Tel:</abbr>
    (574) 302 5477
</address>

<address>
    Sede Bogotá<br />
    Carrera 11 No. 77A-65<br />
    <abbr title="Phone">Tel:</abbr>
    (571) 646 8444
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@colegiocolombia.com">soporte@colegiocolombia.com</a><br />
    <strong>Admisiones:</strong> <a href="mailto:adminsionesyregistro@colegiocolombia.com">adminsionesyregistro@colegiocolombia.com</a>
</address>