@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Colegio Colombia</h1>
    <p class="lead">El colegio Colombia es el numero 1 en el ranking a nivel nacional.</p>
    <p><a href="http://www.colegiocolombia.com" class="btn btn-primary btn-lg">Leer mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sedes</h2>
        <p>
            14 sedes distribuidas en todo el territorio Colombiano.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Conocer las sedes &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>
            La I.E. Colegio Colombia tiene una propuesta curricular diversificada, flexible y abierta a la innovación pedagógica, propicia la formación integral de sus estudiantes fundamentada en valores, en la conservación ambiental, en aprender a ser, a conocer, a hacer y a convivir.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Ver &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>
            En el año 2020, La I.E. Colegio Colombia, caracterizada por su diversificación, se perfilará como un escenario educativo de alta calidad y centro de apropiación técnica y tecnológica en el área metropolitana del Valle de Aburrá.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Ver &raquo;</a>
        </p>
    </div>
</div>